@if (error()) {
        <div class="alert alert-error">
          error!
        </div>
      }
      <div>
        {{totalCompleted()}} completed | {{ totalTodos() }} todos
      </div>

      <input
        type="text"
        class="input input-bordered my-3 w-full"
        #inputRef
        (keydown.enter)="addTodo(inputRef)"
        placeholder="add todo and press Enter"
      >

      <ul>
        @for (todo of todos(); track todo.id) {
          <li class="flex justify-between">
            <div class="flex gap-3">
              <input
                type="checkbox" [checked]="todo.completed"
                (change)="toggleTodo(todo)"
              >
              <span [ngClass]="{'line-through': todo.completed}">
                  {{todo.title}}
              </span>
            </div>
            <button (click)="removeTodo(todo)">❌</button>
          </li>
        } @empty {
          <div>No todos. Add the first one</div>
        }
      </ul>

      <pre class="my-6">{{todos() | json}}</pre>